h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  section h2{
    text-align: center;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  section{
    border-radius: 20px;
  }
  img{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 25px;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #CE0033;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #CE0033;
    border-width: 5px;
    border-color: #fff;
  }

  .infos{
    border-right: black 2px solid;
    margin-bottom: 40px;
    padding-right: 50px;
    text-align: justify;
  }
  .infos p{
    padding-top: 20px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
  }

tr:hover {
  background-color: #ce00342f;
}

  td{
    padding: 10px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    border-bottom: solid 2px #CE0033;
  }
  
  .modal:hover  {
    background-color: #ce00349a;
  }

  #button{
    margin: 0 auto;
    width: 15%;
  }
  /* demo styles */
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');
  body{
    background-color: #f4f4f4;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
  }
  label{
    color:rgb(0, 0, 0);
  }
  section{
    margin:50px;
  }

.add-btn:active {
  color: #CE0033;
}

  a:hover{
    color: #fff; 
  }

  form {
    width : 100%;
    display: grid;
    justify-content: center;
  }

 input {
    width: 50%;
  }
  .add-btn {
    width: 25%;
    height: 100%;
    margin: 20px;
    padding: 0%;
    width: 100%;
  }

  .add-btn button {
    padding :2px;
    margin: 0%;
  }

.detail-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-main section {
  border-color: #CE0033;
  border-style: solid;
  border-radius: 0%;
}

.detail-main h2 {
  color: #fff;
  background-color: #CE0033;
}

.detail-main p {
  padding-left: 25px;
}

.forget-pswd {
  color: #CE0033;
  text-align: center;
}

.forget-pswd:hover {
  text-decoration: underline;
}

#button-modify, #button-forget-pswd, #button-add {
  font-size: medium;
  width: 100%;
}

#modify-details{
  display: flex;
  justify-content: center;
  grid-column: 1 /  span 2;
  border-color: #f4f4f4;
}

#button-modify-details {
  background-color: #CE0033;
  width: 20%;
  text-align: center;
  border-style: solid;
  padding: 3px;
}

#button-modify-details:hover {
  background-color: #f4f4f4;
  border-color: #CE0033;
  border-style: solid;
}

