{% extends "base.html" %}
{% block title %}
    Ajout candidature
{% endblock %}
{% block content%}
<div class='container mt-5'>
    <h1>Nouvelle Candidature</h1>
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}

        {{ form.company.label }}
        {{ form.company(size=32, class="form-control") }}
        <br>

        {{ form.job_type.label }}
        {{ form.job_type( class="form-control") }}
        <br>

        {{ form.description.label }}
        {{ form.description(size=32, class="form-control") }}
        <br>

        {{ form.contact_full_name.label }}
        {{ form.contact_full_name(size=32, class="form-control") }}
        <br>

        {{ form.contact_email.label }}
        {{ form.contact_email(size=32, class="form-control") }}
        <br>

        {{ form.contact_mobilephone.label }}
        {{ form.contact_mobilephone(size=32, class="form-control") }}
        <br>  

        {{ form.status.label }}
        {{ form.status(class="form-control") }}
        <br>

        {{ form.origin.label }}
        {{ form.origin(class="form-control") }}
        <br>  

        {{ form.comment.label }}
        {{ form.comment(size=32, cols=15, rows= 5, class="form-control") }}
        <br>
        
        {{ form.submit(class="btn btn-lg btn-primary mt-4 d-block",id="button-add") }}
    </form>
</div>
{% endblock %}