{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<section class="row col-10 bg-white mx-auto justify-content-center" style="background-color:#CE0033!important; border-radius: 0px;">
    <div class="col-5 infos" style="vertical-align: center!important;">
        <h2 class="col-12 text-primary my-5" style="color:black!important;font-weight: 900;">Suivi des candidatures</h2>
        <h2 class="col-12 text-primary my-5" style="color:black!important;font-weight: 900;">des apprenants</h2>
    </div>
    <div class="col-6">
        <img src="../static/img/img-home.png" style="width: 312px; margin-left: 50%; margin-top: 10%;">
    </div>
</section>
{% endblock %}