{% extends "base.html" %}

{% block title %}
Statistiques
{% endblock %}

{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Stats
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text">Sur ce graphique vous pourrez observer la répartition par status des apprenants. </p>
            </div>
            </div>
        </div>


        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart2"></div>
                <p class="card-text">Sur ce graphique vous pourrez observer la répartition par métier des apprenants.  </p>
            </div>
        </div>

        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">
            <div class="card-body">
                <div id="chart3"></div>
                <p class="card-text">Sur ce graphique vous pourrez observer la répartition par plateforme de candidature des apprenants.</p>
            </div>
            </div>
        </div>
    </div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var fig1 = {{ fig1json | safe}};
        Plotly.plot("chart1", fig1,{});


        var graphs2 = {{ fig2json | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ fig3json | safe}};
        Plotly.plot("chart3", graphs3,{});

    </script>

{% endblock %}